body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    line-height: 1.5
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5

}


.listone {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.listtwo, .text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.solutions {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF

}

.headertwo {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color:#2E2F42 

}

.sectiontwo-list {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42
}

.sectionthree-li {
    background-color: #FFFFFF
}

.footer-p {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

.studio {
    color: #2e2f42;
}

.studioone {
    color: #f4f4fd;
}

.sectionone {
    color: #FFFFFF;
}

.sectionthree {
    background-color: #F4F4FD;
}

.sectiontwo-list, .button {
    font-weight: 500;
}


.footer {
    color: #F4F4FD
}
.sectionone, .footer {
        background-color: #2E2F42;;
       
    }

 .button {
            background-color: #4D5AE5;
            cursor:pointer;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #FFFFFF
        
      }
      
.listone:hover,
.listone:focus
  {
    color:#404BBF;
}

.listtwo:hover,
.listtwo:focus {
    color: #404BBF;
}

.button:hover,
.button:focus {
    background-color: #404BBF;
    
}

.address {
        font-style: normal
    }

a {
    text-decoration: none;
}

ul {
    list-style: none;
}
